<style type="text/css">
	body {height: 100%;}
	#map {height: 100%;}
	#scroll_area{
		overflow-y: scroll;
		height: 100%;
		/*height: 500px;*/
	}
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<div id="scroll_area">
	<section>
		<h3></h3>
		<input type="text" id="key_word" placeholder="検索条件">
		<button type="button" id="search_button">検索</button>
	</section>
	<section>
		<div style="height:500px; width:980px;">
			<div id="map"></div>
		</div>
	</section>
	<section>
		<div id="counts"></div>
		<div id="next_start"></div>
	</section>
	<section>
		<div id="main" role="main">
			<ul id="tiles"></ul>
		</div>
	</section>
</div>

<script type="text/javascript">
var map, marker_list;
var start_page;
marker_list = new google.maps.MVCArray();

var info_window;

$(function(){
	// map = new_map(new google.maps.LatLng(38, 138), 5);

});

new_map = function(center, zoom) {
		map = new google.maps.Map($("#map")[0], {
		mapTypeId: google.maps.MapTypeId.ROADMAP
		,disableDefaultUI: true
		,center: center
		,zoom: zoom
	});
	return map;
}

createMarker = function(shop) {

	var marker = new google.maps.Marker({
		position:  new google.maps.LatLng(shop.lat, shop.lng)
		,map: map
		,title: shop.name
		,animation: google.maps.Animation.DROP
	});
	return marker;
}

clearMarker = function() {
	marker_list.forEach(function(marker, idx){
		marker.setMap(null);
	});
}

addInfoWindow =　function(marker, shop) {
	var contents = '<img src="' + shop.m + '"> <br>'
	　 + '<a target="_blank" href="' + shop.pc + '">' + shop.name + '</a> <br>' + '<p style="font-size: 12px;">Powered by<a href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a></p>';

	google.maps.event.addListener(marker, 'click', function(){
		if (info_window) info_window.close();
		info_window = new google.maps.InfoWindow({
			content: contents
		});
		info_window.open(map, marker);
	});
}

createPanToMapOptions = function() {
	var options = {
			zoom: 16
		};
	return options;
}

createShopDetail = function(obj, shop) {
	obj.append($('<li></li>')
		.append('<img src="' + shop.m + '">')
		.append('<a class="sname" target="_blank" href="' + shop.pc + '">' + shop.name + '</a><br>')
		.append('<p><a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="135" height="17" border="0" title="ホットペッパー Webサービス"></a></p>')
		);
}

tiling = function() {

	// Prepare layout options.
	var options = {
	autoResize: true // This will auto-update the layout when the browser window is resized.
	, container: $('#main') // Optional, used for some extra CSS styling
	, offset: 10 // Optional, the distance between grid items
	, itemWidth: 200 // Optional, the width of a grid item
	// , align: 'center'
	};

	// Get a reference to your grid items.
	var handler = $('#tiles li');

	// Call the layout function.
	handler.wookmark(options);
	// handler.wookmark();


	// // Capture clicks on grid items.
	// handler.click(function(){
	//   // Randomize the height of the clicked item.
	//   var newHeight = $('img', this).height() + Math.round(Math.random()*300+30);
	//   $(this).css('height', newHeight+'px');

	//   // Update the layout.
	//   handler.wookmark();
	// });
}


dropMarkers = function(data) {
	clearMarker();
	var option_data = JSON.parse(JSON.stringify(data));
	var shops = option_data.shops;
	var shop;
	for(var i=0; i<shops.length; i++) {
		shop = shops[i];
		
		var marker = createMarker(shop);
		marker_list.push(marker);
		addInfoWindow(marker, shop);

		createShopDetail($("#tiles"),shop);
	}

	tiling();

	$("#counts").html(option_data.counts);
	localStorage.setItem("page", option_data.page);
	var center = new google.maps.LatLng(shops[0].lat, shops[0].lng);
	map.setOptions(createPanToMapOptions());
	map.panTo(center);
}

searchFreeWord = function(next_start) {
	var key_word = $("#key_word").val();

	if (key_word) {
			
		$.get("/shophub/get_by_freeword.json/", {key_word: key_word, next_start: next_start}, 

		function(data){
			if(!map) {
				map = new_map(new google.maps.LatLng(38, 138), 5);
			}
			dropMarkers(data);
		});
	}
}

$(document).keypress(function(e){
	if (e.which == 13) {
		searchFreeWord();
	}
});

$("#search_button").click(function() {
		searchFreeWord(1);
});
</script>	