<style type="text/css">
	body {height: 100%;}
	#map {height: 100%;}
	#scroll_area{
		overflow-y: scroll;
		height: 100%;
		/*height: 500px;*/
	}
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<div id="scroll_area">
	<section>
		<h3></h3>
		<input type="text" id="key_word" placeholder="検索条件">
		<button type="button" id="search_button">検索</button>
	</section>
	<section>
		<div style="height:500px; width:980px;">
			<div id="map"></div>
		</div>
	</section>
	<section>
		<div id="counts"></div>
		<div id="next_start"></div>
	</section>
</div>

<script type="text/javascript">
var map, marker_list;
var start_page;
marker_list = new google.maps.MVCArray();

var info_window;

$(function(){
	// map = new_map(new google.maps.LatLng(38, 138), 5);

});

function new_map(center, zoom) {
		map = new google.maps.Map($("#map")[0], {
		mapTypeId: google.maps.MapTypeId.ROADMAP
		,disableDefaultUI: true
		,center: center
		,zoom: zoom
	});
	return map;
}

function createMarker(shop) {

	var marker = new google.maps.Marker({
		position:  new google.maps.LatLng(shop.lat, shop.lng)
		,map: map
		,title: shop.name
		,animation: google.maps.Animation.DROP
	});
	return marker;
}

function clearMarker() {
	marker_list.forEach(function(marker, idx){
		marker.setMap(null);
	});
}

function addInfoWindow(marker, shop) {
	var contents = '<img src="' + shop.m + '"> <br>'
	　 + '<a target="_blank" href="' + shop.pc + '">' + shop.name + '</a> <br>' + '<p style="font-size: 12px;">Powered by<a href="http://webservice.recruit.co.jp/">ホットペッパー Webサービス</a></p>';

	google.maps.event.addListener(marker, 'click', function(){
		if (info_window) info_window.close();
		info_window = new google.maps.InfoWindow({
			content: contents
		});
		info_window.open(map, marker);
	});
}

function createPanToMapOptions() {
	var options = {
			zoom: 16
		};
	return options;
}

function search_free_word() {
	var key_word = $("#key_word").val();

	if (key_word) {
		if(!map) {
			map = new_map(new google.maps.LatLng(38, 138), 5);
		}
			
		$.get("/shophub/get_by_freeword.json/", {key_word: key_word}, 

		function(data){
			clearMarker();
			var option_data = JSON.parse(JSON.stringify(data));
			var shops = option_data.shops;
			var shop;
			for(var i=0; i<shops.length; i++) {
				shop = shops[i];
				
				var marker = createMarker(shop);
				marker_list.push(marker);
				addInfoWindow(marker, shop);
			}

			$("#counts").html(option_data.counts);
			$("#next_start").html(option_data.next_start);
			localStorage.setItem("page", option_data.page);
			var center = new google.maps.LatLng(shops[0].lat, shops[0].lng);
			map.setOptions(createPanToMapOptions());
			map.panTo(center);
		});
	}
}



$(document).keypress(function(e){
	if (e.which == 13) {
		search_free_word();
	}
});

$("#search_button").click(function() {
		search_free_word();
});
</script>	